
<!DOCTYPE html>

<html>

<head>

    <title>vManage</title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script> 

    <style>
        #map {
            width: 1360px;
            height:800px;
        }
</style>

</head>

<body>

    You can see all devices from region {{ region }}<br> <br>

    <p>
       <!–– {{ display }}

    </p>

    <div id="map"></div>

<script>

        var mymap = L.map('map').setView([38.642763, -98.327818], 4);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors,  Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiaGJhcmhvdW4iLCJhIjoiY2p1eHVwY3V3MHJlYzQzbzBsYXdxa2ZweCJ9.0uGMr78GliSzhgsVrMhnTg'
         }).addTo(mymap);

        var display = '{{ display }}';

        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }

        output = decodeHtml(display)

        var json = JSON.parse(output);


      for (var device in json) {
        var device_content = json[device]
        var json2 = JSON.stringify(device_content);
        var json3 = JSON.parse(json2);
        var lat = json3.lat
        var lon = json3.lon

        var marker ="Marker"
        var markerName = marker + "_" + device

        markerName = L.marker([lat, lon]).addTo(mymap);
        markerName.bindPopup("<b>" + device  + "</b><br>A small description").openPopup();

      }


    </script>

</body>

</html>